{% extends "base.html" %}

{% block content %}
<h2>Правила форума</h2>

<div>
    <h3>Основные правила:</h3>
    <ul>
        <li>Уважайте других пользователей</li>
        <li>Не используйте нецензурную лексику</li>
        <li>Запрещены оскорбления и угрозы</li>
        <li>Спам и реклама запрещены</li>
        <li>Сообщения должны соответствовать теме</li>
    </ul>

    <h3>О сообщениях:</h3>
    <ul>
        <li>Максимальная длина сообщения - 500 символов</li>
        <li>Вы можете удалять только свои сообщения</li>
        <li>Ответы на сообщения создают ветки обсуждения</li>
    </ul>

    <h3>Регистрация:</h3>
    <ul>
        <li>Имя пользователя должно быть уникальным</li>
        <li>Пароль хранится в зашифрованном виде</li>
        <li>Не передавайте свой пароль другим</li>
    </ul>

    <p>Общайтесь, знакомьтесь, приятного времяпровождения!</p>
</div>

<p><a href="{{ url_for('index') }}">Вернуться на главную</a></p>
{% endblock %}